<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
    	Location Index
    </super-navbar-title>
  </super-navbar>

  <!--div class="content">

  <h3> Current Longitude/Latitude: </h3>
  <p> ( {{position.coords.longitude}} , {{position.coords.latitude}} ) </p>


  <h3> Nearest Location: </h3>
  <p> {{curr_loc}} </p>

  <h3> List of all locations:</h3>

  <div class='list-group'>
    <div ng-repeat="location in locations">
    	<h4> Location: {{location[0]}} </h4>
    	<p> Longitude: {{location[1]}} </p>
    	<p> Latitude: {{location[2]}} </p>
    </div>
  </div>

  <button class="button button-full button-positive">
      Create a new location (not functional)
   </button>


  </div-->
  <style>

  </style>

  <div class="map-wrapper">
    <div id="map"></div>

    <script>
        function initMap() {

          var foster_walker = {lat: 42.052911, lng: -87.678638};
          var tech = {lat: 42.058542, lng: -87.675819};
          //var myPos = {lat: {{position.coords.latitude}}, lng: {{position.coords.longitude}}};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: foster_walker
          });
          var marker = new google.maps.Marker({
            position: foster_walker,
            map: map
          });
          var marker2 = new google.maps.Marker({
            position: tech,
            map: map
          });

        }
      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKTwojDE_YY3QlWqhvzStWfqY4m97oP0s&callback=initMap">
      </script>
  </div>


</div>
