<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title id = "super">
    	Location Index
    </super-navbar-title>
  </super-navbar>

  <!--div class="content">

  <h3> Current Longitude/Latitude: </h3>
  <p> ( {{position.coords.longitude}} , {{position.coords.latitude}} ) </p>


  <h3> Nearest Location: </h3>
  <p> {{curr_loc}} </p>

  <h3> List of all locations:</h3>

  <div class='list-group'>
    <div ng-repeat="location in locations">
    	<h4> Location: {{location[0]}} </h4>
    	<p> Longitude: {{location[1]}} </p>
    	<p> Latitude: {{location[2]}} </p>
    </div>
  </div>

  <button class="button button-full button-positive">
      Create a new location (not functional)
   </button>


  </div-->
  <style>

  body{
    position: relative;
  }



  </style>

  <body>
  <div class="map-wrapper">
    <div id="map"></div>
    </div>
  </body>

    <script>
        function initMap() {

          var fosterWalker = {lat: 42.052911, lng: -87.678638};
          var tech = {lat: 42.058542, lng: -87.675819};
          var willard = {lat: 42.058542, lng: -87.675819};
          var norris = {lat: 42.051566, lng: -87.6781407};
          //var myPos = {lat: {{position.coords.latitude}}, lng: {{position.coords.longitude}}};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: fosterWalker
          });
          var plexMarker = new google.maps.Marker({
            position: fosterWalker,
            map: map
          });
          var techMarker = new google.maps.Marker({
            position: tech,
            map: map
          });
          var willardMarker = new google.maps.Marker({
            position: willard,
            map: map
          });
          var norrisMarker = new google.maps.Marker({
            position: norris,
            map: map
          });

          var infoWindow = new google.maps.InfoWindow({map: map});

          var pos;
          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              map.setCenter(pos);
              var myPos = new google.maps.Marker({
                position: pos,
                map: map,
                icon: 'http://i.stack.imgur.com/7b0HJ.png'
              });
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }



          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
         }

        }

        document.getElementById('map').style.height = window.innerHeight - 60  + 'px';

      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKTwojDE_YY3QlWqhvzStWfqY4m97oP0s&callback=initMap">
      </script>
  </div>


</div>
