@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

.supersonic-navbar-mock {
  background-color: #f4511e !important;
  text-align: center;
  font-weight: 600;
}

.post {
	padding-bottom: 40px;
	border-bottom: 2px solid #CDCDCD;
	/*box-shadow: 0 4px 2px -2px #CDCDCD;*/
	background-color: #FEFEFE;
}

.caption {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	color: #828282;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.caption-indicator {
	font-size: 22px;
	padding-top: 7px;
}

.content{
	padding: 5%;
}