<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title ng-bind = "curr_loc"></super-navbar-title>
  </super-navbar>
<!--
  <super-navigate location="Feed#detail">
    <button class="button button-block button-positive icon-left super-wand">Go to detail page</button>
  </super-navigate>
 -->
  <super-navigate location="Feed#detail">
    <div class='list-group'>
      <div ng-click="sendData()" ng-repeat="content in contents" class="post">
        <img ng-src={{content[0]}} width="100%" height="100%" />
      	<div>{{content[1]}}</div>
        <div>Location: {{content[2]}}</div>
        <div>Timestamp: {{content.timestamp}}</div>
      </div>
    </div>
  </super-navigate>

    <!--button class="button button-full button-positive">
      Create a new post (not functional)
   </button>-->
</div>
