<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>Post to: {{curr_loc}}</super-navbar-title>
    <super-navbar-button side='left' onclick="location.href='./index.html'"> < Back </super-nav-bar-button>
  </super-navbar>
    <div class="list">
     <label class="item item-input item-floating-label">
       <span class="input-label">Image URL</span>
       <input type="text" placeholder="Image URL" ng-model="post.imageurl">
     </label>
     <label class="item item-input item-floating-label">
       <span class="input-label">Caption</span>
       <input type="text" placeholder="Caption" ng-model="post.caption">
     </label>
     <label class="item item-input item-floating-label">
       <span class="input-label">Room</span>
       <input type="text" placeholder="Room" ng-model="post.room">
     </label>
    </div>
  <button class="button button-block button-positive" ng-click="pushData()">
   Submit
  </button>
</div>
